:root{
    --background-color: #181818;
    --color: #fefefe;
    --color-hover: #b3a577;
}

body::-webkit-scrollbar {
    width: 20px;               /* ширина всей полосы прокрутки */
  }
  
body::-webkit-scrollbar-track {
    background: var(--color);        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background-color);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 9px solid var(--color);      /* отступ вокруг бегунка */
    border-top: 20px solid var(--color);
    border-bottom: 20px solid var(--color);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--color);
}

a{
    color: inherit;
}

.container{
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-header{
    max-width: 1670px;
    padding: 0 10px;
    margin: 0 auto;
}

.top-line{
    position: fixed;
    width: 100%;
    height: 20px;
    background-color: var(--color);
    top: 0;
    z-index: 999;
}

.bottom-line{
    position: fixed;
    width: 100%;
    height: 20px;
    background-color: var(--color);
    bottom: 0;
    z-index: 999;
}

.left-line{
    position: fixed;
    width: 20px;
    height: 100%;
    background-color: var(--color);
    left: 0;
    z-index: 999;
}

.header{
    padding-top: 80px;
}

.header__inner{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: inherit;
}

.logo span{
    font-size: 36px;
    font-weight: bold;
    color: var(--color);
    cursor: pointer;
    padding: 20px;
    transition: all .3s;
}

.logo span:hover{
    color: var(--color-hover);
}

.header__menu-burger{
    display: flex;
    align-items: center;
}

.menu{
    overflow: hidden;
}

.menu__list{
    display: flex;
    align-items: center;
    transition: all .3s;
    transform: translateX(100%);
}

.menu .menu__list-active{
    visibility: visible;
    transform: translateX(0);
}

.menu__link{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s;
    padding: 20px 15px;
}

.menu__link:hover {
    color: var(--color-hover);
}

.active {
    color: var(--color-hover);
}

.burger{
    padding: 34px 25px;
    cursor: pointer;
}

.burger:hover span{
    background-color: var(--color-hover);
}

.burger-line-first{
    transform: translate(6px, -5px) rotate(45deg);
    transform-origin: left top;
    background-color: var(--color-hover)!important;
}

.burger-line-last{
    transform: translate(-3px, -16px) rotate(-45deg); 
    transform-origin: right bottom;
    background-color: var(--color-hover)!important;
}

.burger__spans{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 12px;
}

.burger span{
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--color);
    transition: all .3s;
}

.home__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__photo{
    margin-top: 160px;
    margin-bottom: 30px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}

.home__photo img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    transition: all .3s;
}

.home__photo img:hover{
    transform: scale(1.1);
}

.home__name{
    font-size: 48px;
    font-weight: bold;
}

.home__text{
    font-size: 48px;
    font-weight: bold;
}

.home__text span,
.home__name span{
    color: var(--color-hover);
}

.home__contacts{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.portfolio{
    padding-top: 200px;
}

.title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--color);
}

.portfolio__inner{
    display: flex;
    flex-wrap: wrap;
    border: solid 3px var(--color-hover);
    border-radius: 40px;
    padding: 5px;
}

.portfolio__card{
    border-radius: 30px;
    overflow: hidden;
}

.slick-dots{
    font-size: 0;
}

.slick-arrow{
    font-size: 0;
}

.portfolio__inner .slick-next{
    position: absolute;
    right: -50px;
    top: 45%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    background: url(../image/arrow.svg);
    background-repeat: no-repeat;
    width: 58px;
    height: 50px;
}

.portfolio__inner .slick-prev{
    position: absolute;
    left: -50px;
    top: 45%;
    transform: translateY(-50%);
    transform: rotate(90deg);
    background: url(../image/arrow.svg);
    background-repeat: no-repeat;
    width: 58px;
    height: 50px;
}

.tools{
    padding-top: 200px;
    padding-bottom: 100px;
}

.tools__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools__title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--color);
}

.tools__items{
    max-width: calc(207px * 4);
}

.tools__items img{
    max-width: 207px;
    filter: grayscale(1);
    transition: all .8s;
}

.tools__items img:hover{
    filter: grayscale(0);
}

.footer{
    padding-bottom: 50px;
    margin: 0 a;
}

.footer__text{
    text-align: center;
}